%h1 Erasers

= form_for @eraser, html: { class: 'form form-inline' } do |f|
  %p register twitter user as your eraser.
  .form-group
    .input-group
      .input-group-addon @
      = f.text_field :twitter_name, class: 'form-control'
  %button.btn.btn-danger
    %i.icon-plus
    add

%h4 Your Erasers

%table.table.table-striped
  %tr
    %th Twitter Name#ID
    %th Function

  - @erasers.each do |eraser|
    %tr
      %td
        = "#{eraser.twitter_name}##{eraser.twitter_id}"
      %td
        = link_to "Delete", eraser, method: :delete, data: { confirm: "Are you sure?" }
